/*!
 Custom stylesheet
 */
body {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   background: url('../img/bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
 }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  color: #79CA0A;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
  background-color: transparent;
  background: transparent;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: #FFF;
  background-color: transparent;
}
